.loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  p:first-child {
    text-align: center;
  }
  &Actions {
    display: flex;
    justify-content: space-between;
  }
}

.authActionsWrapper {
  display: flex;
  justify-content: center;
  button {
    margin: 10px;
  }
}

.actionsWrapper {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.input {

  div {
    width: 100%;
  }
}