.applink {
  color: var(--text-color);

  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.4;
  }
}

.primary {
  color: var(--text-color);
}

.secondary {
  color: var(--text-color);
}

.red {
  color: red;
}
