@import '../../../../shared/styles/mixins/mixins.scss';

@include respond(tab-port) {
  .profileNickname {
    display: none;
  }
}
.profileContainer {
}

.profile {
  display: flex;
  align-items: center;

  gap: 10px;
  &Icon {
  }

  &Nickname {
  }

  &LvlCard {
    span {
    }
  }
}
