.headerActions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  &Wrapper {
    display: flex;
  }
}

.projectInfo {
  /* font-family: 'Aleeo'; */
  cursor: pointer;
  color: var(--text-color);
  font-weight: 900;
  font-size: 22px;
}
