:root[data-theme='chaos_theory'] {
  --bg-color: #141221;
  --main-color: #fd77d7;
  --caret-color: #dde5ed;
  --sub-color: #676e8a;
  --sub-alt-color: #1e1d2f;
  --text-color: #dde5ed;
  --error-color: #ff5869;
  --error-extra-color: #b03c47;
  --colorful-error-color: #ff5869;
  --colorful-error-extra-color: #b03c47;

  //menu .textButton:nth-child(4)
  // --color: #e25303;

  //timeNumber
  // color: #5e676e
}
