:root[data-theme='dark'] {
  --bg-color: #111;
  --main-color: #eee;
  --caret-color: #eee;
  --sub-color: #444;
  --sub-alt-color: #191919;
  --text-color: #eee;
  --error-color: #da3333;
  --error-extra-color: #791717;
  --colorful-error-color: #da3333;
  --colorful-error-extra-color: #791717;

  // TODO chagne theme
  --success-color: #7cda33;
  --success-extra-color: #487917;
  --colorful-success-color: #33dab2;
  --colorful-success-extra-color: #24925d;
}
