@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/chaos-theory.scss';
@import './themes/stealth.scss';
@import './themes/dark-note.scss';
@import './themes/8008.scss';
@import './themes/dino.scss';

:root {
  /* stealth theme */
  --bg-color: #1f1f1f;
  --main-color: #f2c17b;
  --caret-color: #e3dce0;
  --sub-color: #768f95;
  --sub-alt-color: #141414;
  --text-color: #d2dff4;
  --error-color: #ff000;
  --error-extra-color: #588498;
  --colorful-error-color: #ff000;
  --colorful-error-extra-color: #ff000;
}

::-moz-selection {
  background-color: var(--main-color);
  color: var(--sub-alt-color);
}
::selection {
  background-color: var(--main-color);
  color: var(--sub-alt-color);
}

body {
  scrollbar-color: var(--sub-color);
  font: var(--font-m);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
