@import './reset';
@import './variables/global';
@import './themes/dark';
@import './themes/chaos-theory.scss';
@import './themes/stealth.scss';
@import './themes/dark-note.scss';
@import './themes/8008.scss';
@import './themes/dino.scss';

:root {
  /* stealth theme */
  --bg-color: #010203;
  --main-color: #383e42;
  --caret-color: #e25303;
  --sub-color: #5e676e;
  --sub-alt-color: #121212;
  --text-color: #383e42;
  --error-color: #e25303;
  --error-extra-color: #73280c;
  --colorful-error-color: #e25303;
  --colorful-error-extra-color: #73280c;
}

::-moz-selection {
  background-color: var(--main-color);
  color: var(--sub-alt-color);
}
::selection {
  background-color: var(--main-color);
  color: var(--sub-alt-color);
}

html {
  height: 100%;
}

body {
  height: 100%;

  background: var(--bg-color);
  scrollbar-color: var(--sub-color);
  font: var(--font-m);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
