:root[data-theme='dark_note'] {
  --bg-color: #1f1f1f;
  --main-color: #f2c17b;
  --caret-color: #e3dce0;
  --sub-color: #768f95;
  --sub-alt-color: #141414;
  --text-color: #d2dff4;
  --error-color: #ff000;
  --error-extra-color: #588498;
  --colorful-error-color: #ff000;
  --colorful-error-extra-color: #ff000;

  //menu .textButton:nth-child(4)
  // --color: #e25303;

  //timeNumber
  // color: #5e676e
}
