.button {
  display: flex;
  gap: 10px;
  justify-content: center;

  border-radius: 15px;
  // padding: 6px 15px;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  line-height: 1.25em;
  font-size: 1em;
  font-family: inherit;
  appearance: none;
  -webkit-user-select: none;
  user-select: none;
  // transition: ;
  border: none;

  &:hover {
    color: var(--bg-color);
    background: var(--text-color);
  }
  &:active {
    color: var(--bg-color);
    background: var(--sub-color);
  }
  /* &:focus { */
  /*   box-shadow: 0 0 0 0.15em var(--text-color); */
  /* } */
}

.active {
  background: var(--main-color) !important;
  /* background: var(--sub-color); */
  color: var(--bg-color) !important;
}

.disabled {
  cursor: default;
  opacity: 0.33;
  pointer-events: none;
}

/* THEMES */
.primary {
  background: var(--sub-alt-color);
  color: var(--text-color);

  &:hover {
    background: var(--text-color);
    color: var(--bg-color);
    outline: none;
  }

  &:active {
    background: var(--sub-color);
    color: var(--bg-color);
  }
}

.background {
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.clear,
.clearInverted {
  color: var(--text-color);
  border: none;
  background: none;
  outline: none;
}

.clearInverted {
  color: var(--inverted-primary-color);
}

.outline {
  border: 0.15em solid var(--sub-alt-color);
  color: var(--text-color);
  background: none;
}

.outlinedDanger {
  border: 0.15em solid var(--error-color);
  color: var(--text-color);
  background: none;

  &:hover {
    background: var(--text-color);
    color: var(--bg-color);
  }
  &:active {
    background: var(--sub-color);
  }
  /* &:focus { */
  /*   box-shadow: 0 0 0 0.15em var(--error-color); */
  /* } */
}
/* THEMES */

.square {
  padding: 0;
}

.square.m {
  width: var(--font-line-m);
  height: var(--font-line-m);
}

.square.l {
  width: var(--font-line-l);
  height: var(--font-line-l);
}

.square.xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
}

.s {
  font: var(--font-s);
}

.xs {
  font: var(--font-xs);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}

.disabled {
  opacity: 0.5;
}
