.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputContainer {
  width: max-content;
  display: flex;
  background: var(--sub-alt-color);
  color: var(--text-color);
  border-radius: 15px;
  padding: 10px;
}

.label {
  color: var(--text-color);
}

.placeholder {
  margin-right: 5px;
  color: var(--text-color);
  max-width: max-content;
}

/* THEMES */
/* | 'primary' */
/* | 'background' */
/* | 'outlinedDanger' */
/* | 'outline' */
/* | 'clear' */
/* | 'clearInverted'; */

.primary {
  .inputContainer {
    background: var(--sub-alt-color);
    color: var(--text-color);
  }
}
.background {
  .inputContainer {
    background-color: var(--bg-color);
    color: var(--primary-color);
  }
}

.outline {
  .inputContainer {
    border: 1px solid var(--sub-alt-color);
    color: var(--text-color);
    background: none;
  }
}

.outlinedDanger {
  .inputContainer {
    border: 0.15em solid var(--error-color);
    color: var(--text-color);
    background: none;
  }
}

.clear {
  .inputContainer {
    color: var(--text-color);
    border: none;
    background: none;
    outline: none;
  }
}

.clearInverted {
  .inputContainer {
    color: var(--primary-color);
    border: none;
    background: none;
    outline: none;
  }
}

/* THEMES */
.input {
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
  color: var(--text-color);

  &:focus {
    outline: none;
  }
}

.caretWrapper {
  flex-grow: 1;
  position: relative;
}

.caret {
  position: absolute;
  height: 3px;
  width: 9px;
  background: var(--caret-color);
  bottom: 0;
  left: 0;
  animation: blink 0.7s forwards infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
