$animation-duration: 1.9s;

@mixin primary-gradient {
  background-image: linear-gradient(
    90deg,
    var(--sub-alt-color) 0px,
    var(--sub-color) 40px,
    var(--sub-alt-color) 80px
  );
  background-size: 700px;
}

@mixin background-gradient {
  background-image: linear-gradient(
    90deg,
    var(--bg-color) 0px,
    var(--sub-color) 40px,
    var(--bg-color) 80px
  );
  background-size: 700px;
}

.root {
  width: 150px;
  height: 50px;

  &.primary {
    background: var(--sub-alt-color);
    &.wave {
      @include primary-gradient;
      animation: wave-frame $animation-duration infinite linear;
    }
    &.pulse {
      @include primary-gradient;
      animation: primary-pulse-frame $animation-duration infinite alternate;
    }
  }
  &.background {
    background: var(--bg-color);
    &.wave {
      @include background-gradient;
      animation: wave-frame $animation-duration infinite linear;
    }
    &.pulse {
      @include background-gradient;
      animation: background-pulse-frame $animation-duration infinite alternate;
    }
  }
}

.default {
  width: 150px;
  height: 50px;
}

.small {
  &.text {
    width: 75px;
    height: 15px;
  }
  &.rounded {
    width: 150px;
    height: 30px;
  }
  &.rectangular {
    width: 50px;
    height: 50px;
  }
  &.circular {
    width: 50px;
    height: 50px;
  }
}

.default {
  &.text {
    width: 175px;
    height: 20px;
  }
  &.rounded {
    width: 175px;
    height: 50px;
  }
  &.rectangular {
    width: 75px;
    height: 75px;
  }
  &.circular {
    width: 75px;
    height: 75px;
  }
}

.large {
  &.text {
    width: 300px;
    height: 30px;
  }
  &.rounded {
    width: 300px;
    height: 70px;
  }
  &.rectangular {
    width: 105px;
    height: 105px;
  }
  &.circular {
    width: 105px;
    height: 105px;
  }
}

.text {
  border-radius: 5px;
  width: 300px;
  height: 25px;
}

.rounded {
  border-radius: 15px;
}

.rectangular {
  border-radius: 15px;
  width: 105px;
  height: 105px;
}

.circular {
  border-radius: 100%;
  width: 105px;
  height: 105px;
}

@keyframes wave-frame {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 360px;
  }
}

@keyframes primary-pulse-frame {
  from {
    background: var(--sub-alt-color);
  }
  to {
    background: var(--sub-color);
  }
}

@keyframes background-pulse-frame {
  from {
    background: var(--bg-color);
  }
  to {
    background: var(--sub-color);
  }
}
