.headerLogo {
}

.companyName {
  position: absolute;
  padding: 0;
  padding-left: 8px;
  margin: 0;
  top: 20px;
  line-height: 0.65rem;
  font-size: 1rem;
}

.projectName {
  opacity: 0.6;
  position: relative;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  line-height: 0;
  font-weight: 700;
  font-size: 2rem;
}
